/*
 009c00 - playing field green 
 007600 - darker oddRow green
 98BF21 - light green
*/

body { 
	color: #FF8F1F; 
	background: black; 
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
} 
table { 
	background-color: #0b445f; 
	border-collapse:collapse;
	border-color: #666666;
	/* width:400px; */
} 

tr.hover {
	background-color: #4F99CF !important;
}


td, th {
	display: table-cell;
	vertical-align: inherit;
	padding:2px;
}
	
a {
	color: inherit;
	text-decoration:none;
}

img {
	border: none;
}

.hide {
	display: none;
}

.show {
}

.oddRow 
{
	background-color: #235980;
}

.evenRow
{
}

.highlightRow
{
	background-color: #4F99CF;
}

.pinRow
{
	cursor: pointer;
	white-space: nowrap;
}

.debug {
	font-size:60%;
}

.error 
{
	background-color: #9b0000;
	display: block;
}
.clickme 
{
	cursor: pointer;
}

.greenLight
{
}
.greyLight
{
}
